.btnMenu {
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 2rem;
    background-image: url('../../img/hamb-nav.svg');
    background-size: 2rem;
}

.btnMenu_close {
    background-color: var(--pink);
    padding: 3rem 0 0 0 ;
}
