:root {
--yellow: #ECE897;
--lavender: #DBC2E3;
--purple: #B273DB;
--middle-purple: #44298C;
--dark-purple: #2A2137;
--white: #e9dfe4;
--green: #81D67B;
--pink: #D66696;
}

body {
    background-color: var(--lavender);
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 96%;
    margin: 0 auto;
}