:root {
--yellow: #ECE897;
--light-lavender: #e9dfe4;
--lavender: #DBC2E3;
--purple: #B273DB;
--middle-purple: #4b3a68;
--dark-purple: #322642;
--white: #f9f9f9;
--green: #5aaf92;
--pink: #ce5c8d;
}


body {
    background-color: var(--lavender);
    color: var(--dark-purple);
    font-family: 'Roboto', sans-serif;
}

 
*::selection {
    background: var(--yellow);
    color: var(--middle-purple);
}

.container {
    margin: 0 auto;
    width: 96%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

.button-box {
    text-align: center;    
} 

.button {
    background-color: var(--purple);
    border: 2px solid var(--middle-purple);
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    margin-top: 1rem;
    padding: .5rem 2rem;
    transition: .5s;
}

.button:hover {
    background-color: #935ab9 ;
    border: 2px solid var(--dark-purple);
    cursor: pointer;
}
