.header {
    align-items: center;
    background-color: var(--green);
    border-bottom: 2px solid var(--middle-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.header__title {
    margin: .5rem 1rem;
    width: 8rem;
}

/*--------menu---------- */
.nav__menu {
    width: 100%;
}
.menu {
    border-top: 1px solid var(--white);
    display: flex;
    justify-content: center;
}

.menu__item {
    font-size: 1.4em;
    margin: 1rem .8rem;
}

.menu__item-action,
.show-list {
    color: var(--white);
    text-decoration: none;
    transition: .5s;
}

.show-list{
    align-items: center;
    display: flex;
}

.menu__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu__item:first-child:hover{
    text-decoration: none;
}

.dropdown__icon{
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 .35rem;
    text-indent: -999999px;
    width: .5rem;
}

.dropdown__icon-opacity {
    opacity: 0.7;
}

.dropdown__list {
    background-color: var(--light-lavender);
    color: var(--middle-purple);
    display: none;
    position: absolute;
    top: 7.8rem;
}

.active{
    display: block;
}

.dropdown__item {
    border-bottom: 1px solid var(--white);
    font-size: 1rem;

}
.dropdown__item:first-child {
    border-top: 1px solid var(--white);
}

.dropdown__item a {
    color: var(--middle-purple);
    display: block;
    padding: .5rem 2rem .5rem .5rem;
    text-decoration: none;
}

/*--------responsive---------- */

@media screen and (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
    }
    .menu {
        border: none;
        justify-content: flex-end;
    }
    .active {
        top: 3.5rem;
    }
    .dropdown__item {
        padding-right: 4rem;
    }


}
