.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--middle-purple);
    background-color: var(--green);
    width: 100%;
}
.header__title {
    width: 8rem;
    margin: .5rem 1rem;
}

/*--------menu---------- */
.nav__menu {
    width: 100%;
}
.menu {
    border-top: 1px solid var(--white);
    display: flex;
    justify-content: center;
}

.menu__item {
    line-height: 2.5rem;
    margin: 0 .8rem;
    font-size: 1.4em;
}

.menu__item-action,
.show-list {
    color: var(--middle-purple);
    text-decoration: none;
    transition: .5s;
}

.show-list {
    margin: 0 1.5rem;
}

.menu__item:hover {
    color: var(--dark-purple);
    text-decoration: underline;
    cursor: pointer;
}

.menu__item:first-child:hover{
    text-decoration: none;
}

.open-arrow{
    position: absolute;
    text-indent: -999999px;
    background-image: url('../img/arrow.svg');
    margin: 0 3px;
    background-repeat: no-repeat;
    width: 0.8rem;
    display: inline-block;
    background-position: 0 6px;
}

.close-arrow{
    position: absolute;
    text-indent: -999999px;
    background-image: url('../img/arrow.svg');
    margin: 0 3px;
    background-repeat: no-repeat;
    width: 0.7rem;
    display: inline-block;
    background-position: 0 8px;
}

.dropdown__list {
    display: none;
    position: absolute;
    top: 7.5rem;
    background-color: var(--light-lavender);
}

.active{
    display: block;
}
.dropdown__item {
    font-size: 1.2rem;
    padding: 0 2rem 0 1rem;
    border-bottom: 1px solid var(--white);
}
.dropdown__item:first-child {
    border-top: 1px solid var(--white);
}

/*--------responsive---------- */

@media screen and (min-width: 600px) {
    .header {
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {
        border: none;
        justify-content: flex-end;
    }
    .menu__item {
    line-height: 0;
    }
    .active {
        top: 3.5rem;
    }
    .dropdown__item {
        padding: 1rem;
    }
    .open-arrow{
        padding: 0.8rem;
        top: 25%;
        background-position: 0;
    }

    .close-arrow{
        padding: 0.7rem;
        top: 28%;
        background-position: 0;
    }
}
