.banner__image {
    height: 60vw;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .banner__image {
        height: 50vw;
    }   
}

@media screen and (min-width: 1024px) {
    .banner__image {
        height: 40vw;
    }   
}