.section__contact {
    background-color: var(--light-lavender);
    padding: 0 1.5rem 2rem 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    margin-top: 1rem;
}

.input {
    border: 2px solid var(--pink);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1rem;
    margin-top: .5rem;
    padding: .5em;
    transition: .5s;
}

.input:hover {
    background-color: var(--white);
    border-color: var(--pink);
}

@media screen and (min-width: 768px) {
    .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .field {
        margin: 0 1.5rem;
    }
    .field__contact {
        width: 50%;
    }
    .field__message {
        width: 50%;
    }
    #message {
        height: 11.7rem;   
    }

}



