.section__search {
    margin: 2rem 0;
}

.search__list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search__item {
    margin: 1rem;
    width: 90%;
}
.search__item-link {
    background-color: var(--light-lavender);
    border: 2px solid rgba(206, 92, 141, .5);
    border-radius: 5px;
    color: var(--middle-purple);
    display: flex;
    padding: 1.5rem;
    text-decoration: none;
    transition: .8s;
}

.search__item-link:hover {
    background-color: var(--white);
}

.search__item-image {
    display:none;
}

.search__item-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


.search__item-sumary {
    font-size: 1.1em;
    line-height: 1.5rem;
}

@media screen and (min-width: 600px) {
    .search__list {
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px) {
    .search__item-image {
        border-radius: 3px;
        display:block;
        margin-right: 1rem;
        width: 40%;
    }

}