.section__contact {
    background-color: var(--light-lavender);
    padding: 2em 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    margin-top: 1rem;
}

.input {
    margin-top: .5rem;
    border: 2px solid var(--pink);
    transition: .5s;
    font-size: 1.1rem;
    font-family: inherit;
    border-radius: 5px;
    padding: .5em;
}

.input:hover {
    border-color: var(--pink);
    background-color: var(--white);
}





