.cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--light-lavender);
    width: 70%;
    height: 20rem;
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid var(--pink);
    border-radius: 8px;
}


.card__title {
    text-align: center;
    color: var(--middle-purple);
    margin-top: 1rem;
    font-size: 1.5rem;
}