.section__content {
    background-color: var(--white);
    padding: 1rem;
}


.date {
    text-align: center;
    border-bottom: 2px solid var(--pink);
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    padding: 1em 0;
}

.paragraph {
    font-size: 1.2em;
    margin-bottom: 2rem;
    line-height: 1.4em;
}

.content__figure {
    margin: 1rem 0 2.5rem 0;
}
.content__image {
    width: 100%;
}
.content__legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .1rem;
}

.attention {
    background-color: var(--light-lavender);
    color: var(--pink);
    margin-top: 8rem;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
}

.table {
    display: flex;
    justify-content: center;
}
.table__column {
    border: 3px solid var(--pink);
    padding: .5rem 1rem;
}

@media screen and (min-width: 768px) {
    .section__content {
        padding: 1rem 5rem;
    }
    
    .paragraph {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .section__content {
        padding: 1rem 16rem;
    }
    
}