.section__cards {
    margin: 2rem 0;
}

.cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: var(--light-lavender);
    border: 2px solid rgba(206, 92, 141, .5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition:.8s;
    align-items: center;
    text-align: center;
    margin: 1.5rem 1rem;
    padding: 1rem;
}
 
.card {
    width: 100%;
    height: auto;
}

.card:hover {
    background-color: var(--white);
    cursor: pointer;
}


.card__link {
    color: var(--middle-purple);
    font-size: 1.5rem;
    text-decoration: none;
}

.card__image {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 3px;
}

.card__title:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .card {
        width: 35%;
        height: 15rem;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 20%;
        height: 12rem;
    }

    .card__link {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: 15%;
        height: 15rem;
    }
}